$color-primary: #ede0d4;

$page-color: #111f28;
$page-color-light: #afb9c5;

$book-height: 90vh;
$book-width: calc(90vh * (47 / 75) * 2);

$book-cover-width: calc(90vh * (47 / 75));

$book-page-height: calc(90vh - 2vh);
$book-page-width: calc((90vh - 2vh) * (47 / 75));
