.book-cover-title {
  font-family: "Libre Baskerville", serif;
  font-size: 6.2rem;
  font-weight: 400;
  color: #bebaa2;
  letter-spacing: 0.5rem;
}
// #FFF2E9

// #bebaa2

.book-cover-sub {
  font-family: "Lovers Quarrel", cursive;
  font-size: 5.4rem;
  font-weight: 400;
  color: #bebaa2;
}

.heading-primary {
  font-family: "Libre Baskerville", serif;
  font-size: 4.8rem;
  // font-weight: bold;
  color: #bebaa2;
  line-height: 7rem;
  letter-spacing: 0.5rem;
}

.big-bold-text {
  font-size: 5.2rem;
  font-weight: bold;
  color: #bebaa2;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.heading-secondary {
  font-family: "Libre Baskerville", serif;
  font-size: 3.6rem;
  font-weight: bold;
  color: #bebaa2;
  line-height: 5rem;
}

.paragraph {
  &-headline {
    font-family: "Libre Baskerville", serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba($color: #bebaa2, $alpha: 0.8);
    word-spacing: 0.2rem;
  }

  &-content {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #bebaa2;
    line-height: 3rem;
  }

  &-icon {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}
.button-text {
  font-family: "Libre Baskerville", serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $page-color;
  line-height: 7rem;
}

.list--keys {
  list-style-type: none;
}
